.MyImage{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}
.Portrait{
    max-height: 50em;
    display: flex;
    
    
}
@media only screen and (max-width: 607px) {
    .Portrait{
        max-height: 45em;
    }
  }
  @media only screen and (max-width: 549px) {
    .Portrait{
        max-height: 40em;
    }
  }
  @media only screen and (max-width: 517px) {
    .Portrait{
        max-height: 35em;
    }
    .Info{
        width:320px;
    }
    .Typewriter{
        width:320px;
    }
  }